#navbar {
    background-color: rgba(255, 255, 255, 0.75);
}

nav ul {
    margin-left: 33%;
}

nav i:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 600px) {
    nav ul {
        margin-left: 30%;
    }
    nav i {
        margin-top: 15px;
    }
}